*{
    margin: 0%;
   
    
}
.Main{
    background-image: url("/assests/images/hero\ image\ two.jpg");
    
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.header{
    display: flex;
}
.header-1{
    color: white;
    margin: 20px;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 0px;
    
}
.header-2{
    color: white;
    font-size: 30px;
    margin-left: 60px;
    margin-top: 20px;
    padding: 14px 16px;

}

.nav{
    margin-top: 20px;
    margin-left: 500px;

}
.nav a{
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 20px;
    
}
.about-1 h1{ 
    text-align: center;
}
.about-2{
    margin-left: 50px;
    margin-top: 50px;

}
.about-2 h1{
    margin-bottom: 25px;
    font-size: 30px;

}
.about-2 p{
    line-height: 1.8;
    font-size: 20px;
}
.section{
    display: flex;
}
.images{
    display: flex;
    margin-top: 200px;
    
}
.image-1{
    margin-top: 100px;

}
.image-2{
    margin-top: 0px;
    margin-left: 50px;
   
    
}
.image-3{
    margin-left: 50px;
    margin-bottom: 10px;
    
}